@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Share+Tech&display=swap");

html body {
  background-color: #6a98f0;
  background: fixed;
  font-family: "Roboto", sans-serif;
  font-family: "Share Tech", sans-serif;
  background-image: -webkit-linear-gradient(62.7deg, #6a98f0 45%, white 55%);
}
